window {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14pt;
  color: #c0caf5;
  background-color: rgba(26, 27, 38, 0.8);
}

button {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border: 2px solid #414868;
  border-radius: 10px;
  background-color: #1a1b26;
  margin: 5px;
}

button:hover {
  border: 2px solid #7aa2f7;
  background-color: #1a1b26;
  color: #c0caf5;
}

button:focus {
  border: 2px solid #7aa2f7;
  background-color: #1a1b26;
  color: #c0caf5;
}

#lock {
  background-image: image(url("./lock.png"));
}
#logout {
  background-image: image(url("./logout.png"));
}
#suspend {
  background-image: image(url("./suspend.png"));
}
#shutdown {
  background-image: image(url("./power.png"));
}
#reboot {
  background-image: image(url("./reboot.png"));
}
#hibernate {
  background-image: image(url("./hibernate.png"));
}
