@import "colors.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px;
  color: @foreground;
  transition: 200ms;
}

/********************************
********* NOTIFICATION **********
*********************************/

.notification,
.notification-content,
.notification-default-action {
  border-radius: 0;
}

.notification {
  border: none;
}

.summary {
  font-size: 16px;
}

.floating-notifications,
.notification-background,
.notification-content {
  background: transparent;
}

.notification-content {
  padding: 10px;
}

.image,
.body-image {
  margin-right: 5px;
}

.notification-default-action {
  background: @background;
  border: 2px solid blue;
  transition: all 0.2s ease-in-out;
}

.notification-default-action:hover {
  border-color: blue;
}

.notification-action {
  border: none;
  border-radius: 0;
  background: @noti-bg;
}

.notification-action:hover {
  background: @noti-bg-alt;
  border: 2px solid blue;
}

.close-button {
  margin: 5px;
  padding: 0;
}

.close-button:hover {
  background: rgba(247, 118, 142, 0.5);
  transition: all 0.2s ease-in-out;
}

/********************************
******** CONTROL CENTER *********
********************************/

.control-center {
  background: @background;
  border-radius: 0;
}

.notification-row,
.control-center-list {
  background: transparent;
}

.time {
  color: gray;
  margin: 3px 37px 0 0;
}

.widget-buttons-grid,
.widget-volume,
.widget-mpris {
  background: @background;
  border-radius: 0;
  margin: 8px 0;
  padding: 0;
}
